# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\brod5\OneDrive\Faculdade\2º ano\1º semestre\AEDA\Práticas\aeda2021_fp01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
